* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.purple-text {
  color: #6f7cff;
}
